.logo{
    height: 150px;
    width: 300px;
}
.form-control{
    background-color:rgba(255, 255, 255, 0.2);
    padding: 22px;
    border: none;
}
.btn{
    padding: 9px 20px;
}
.btn-privious{
    background: rgba(255, 255, 255, 0.2);
    color: #ffffff;
}
.search-box{
    position: relative;
}
.search-btn {
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
}
.food-image{
    height:200px;
    width:250px;
    border-top-left-radius:  15px;
    border-top-right-radius: 15px;
}
.food-div{
    height: 250px;
    width: 250px;
    background-color: rgb(245, 238, 238);
    border-radius: 15px;    
}
#food-detail{
    margin-left: 500px;
}
.food-details-image{
    height:250px;
    width:350px;
    border-radius: 8px;
}
#food-container{
    display: grid;
    grid-template-columns: repeat(4,280px);
    grid-gap: 20px;
    
}